* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}
a {
	font-family: Chalkduster;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}
input {
	outline: none;
	border: none;
}
button {
	outline: none !important;
	border: none;
	background: transparent;
}
iframe {
	border: none !important;
}
.createAccountText {
  font-family: Chalkduster;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
}
.limiter{
  width: 100%;
  margin: 0 auto;
}
.containerLogin {
  width: 100%;  
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: linear-gradient(to top, black, rgb(90,90,90), rgb(166,166,166));
}
.wrapLogin {
  width: 960px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 177px 130px 33px 95px;
}
.loginPic {
  width: 316px;
}
.loginPic img {
  max-width: 100%;
}
.registerForm{
  width: 290px;
}
.loginForm {
  width: 290px;
}
.loginFormHeader {
  font-family: Chalkduster;
  font-size: 48px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
  text-decoration: underline;
  width: 100%;
  display: block;
  padding-bottom: 54px;
}
.loginFormSubheader {
  font-family: Chalkduster;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  text-decoration: underline;
  width: 100%;
  display: block;
  padding-bottom: 54px;
}
.wrapInput {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input {
  font-family: Chalkduster;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}

.symbolInput {
  font-size: 15px;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;
}
.loginFormButton {
  font-family: Chalkduster;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #1F456E;
}

.loginFormButton:hover {
  background: #333333;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  font-family: Chalkduster, fantasy;
  transition: all 0.5s ease;
}