
html {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.img{
  width: 180px;
  margin-top: 5px;
}
h1{
  font-size: 20px;
  color: white;
  font-family: 'Press Start 2P', cursive;
}
h2{
  font-size: 20px;
  color: white;
  font-family: 'Press Start 2P', cursive;
}
.logged-in, .logged-out {
  font-family: 'Press Start 2P', cursive;
}
#name1 {
  color: #FFFFFF;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #bf1a2c 0px 0px 20px, #bf1a2c 0px 0px 30px, #bf1a2c 0px 0px 40px, #bf1a2c 0px 0px 50px, #bf1a2c 0px 0px 75px;
  font-size: 40px;
  font-family: 'Press Start 2P', cursive;
  padding-left: 20px;
  display: inline;
}
#name2 {
  color: #FFFFFF;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #004aad 0px 0px 20px, #004aad 0px 0px 30px, #004aad 0px 0px 40px, #004aad 0px 0px 50px, #004aad 0px 0px 75px;
  font-size: 40px;
  font-family: 'Press Start 2P', cursive;
  padding-left: 200px;
  display: inline;
}
.deck {
  width: 85%;
  background: #716F71;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 3em;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.deck .card {
  height: 3.7rem;
  width: 3.7rem;
  margin: 0.2rem 0.2rem;
  background: #141214;;
  font-size: 0;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
  transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
  animation-name: flipInY;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-duration: .75s;
}

.deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: #E5F720;
  font-size: 33px;
  animation-name: rubberBand;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-duration: .75s;
}

.deck .card.unmatched {
  animation-name: pulse;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-duration: .75s;
  background: #e2043b;
}

.deck .card.disabled {
  pointer-events: none;
  opacity: 0.9;
}


/*
 * Styles for the Score Panel
 */


.score-panel {
  text-align: left;
  margin-bottom: 10px;
  color: white;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}


.score-panel .restart {
  float: right;
  cursor: pointer;
}

.fa-star {
  color: #FFD700;
}


.timer {
  display: inline-block;
  margin: 0 1rem;
}


/*
 * Styles for congratulations modal
 */


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}
  
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  width: 85%;
  position: relative;
  transition: all 5s ease-in-out;
  font-family: 'Gloria Hallelujah', cursive;
}
  
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #E5F720;
}

.popup .content-1,
.content-2 {
  max-height: 30%;
  overflow: auto;
  text-align: center;
}

.show {
  visibility: visible !important;
  opacity: 100 !important;
}

#starRating li {
  display: inline-block;
}

#play-again {
  background-color: #141214;
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
  display: block;
  margin: 0 auto;
  width: 50%;
  font-family: 'Gloria Hallelujah', cursive;
  color: #ffffff;
  border-radius: 5px;
}

/****** Media queries
***************************/


@media (max-width: 320px) {
  .deck {
    width: 85%;
  }

  .deck .card {
    height: 4.7rem;
    width: 4.7rem;
  }
}


/* For Larger screens
****************/

@media (min-width: 768px) {
  .container {
    font-size: 22px;
  }

  .deck {
    width: 660px;
    height: 680px;
  }

  .deck .card {
    height: 125px;
    width: 125px;
  }

  .popup {
    width: 60%;
  }
}
